/* @import 'globals.css'; */

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #ffffec;
}

.App h1 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  color: #333;
  font-size: 2.5em;
  font-weight: 900;
  /* Muy negrita */
  letter-spacing: 1px;
}