.nav-bar {
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 34px;
    margin-left: 550px;
    max-width: 200px;
}

.nav-bar button {
    background-color: #e5d8dd;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
    transition: background-color 0.3s;
}

.nav-bar button:disabled {
    cursor: not-allowed;
}