.nav {
    display: flex;
    background-color: #d1b8c6;
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
    width: 1350px;
}

.nav button {
    background-color: #e5d8dd;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.nav button:disabled {
    cursor: not-allowed;
}